/*Part 1*/
.header{
    background-color: #1f2937;
    padding-bottom: 70px;
}
nav{
    display: flex;
    min-width: 100vw;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.header-logo{
    margin-left: 5vw;
    padding: 0;
    font-size: 24px;
    color: #f9faf8;
}

.navigator{
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 2vw;
    color: #e5e7eb;
    font-size: 18px;
}
.image-description{
    display: flex;
    align-items: center;
    gap: 100px;
}
.description{
    margin-left: 5vw;
    width: 30vw;
}
.title{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0;
}
.title-subtext{
    font-size: 18px;
    color: #e5e7eb;
}
.image{
    height: 200px;
    width: 700px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #e5e7eb;
}
.sign-up-button{
    background-color: #3882f6;
    font-size: 16px;
    width: 100px;
    height: 40px;
    color: #e5e7eb;
    font-weight: bold;
    border-radius: 10px;
}

/*Part 2*/
.information{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.information > p{
    min-width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}
.container{
    display: flex;
    gap: 50px;   
    width: 100%;
    justify-content: center;
    align-items: center;
}
.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    width: 140px;
}
.image-container > img{
    border: 2px solid #3882f6;
    border-radius: 5px;
    width: 140px;
    height: 100px;
}

/*Part 3*/
.quote{
    display: flex;
    padding: 100px 240px;
    flex-wrap: wrap;
    background-color: #e5e7eb;
}
.quote-text{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}
.quote-author{
    font-size: 26px;
    font-weight: bold;
    text-align: right;
    width: 100%;
}

/*Part 4*/
.call-to-action{
    margin: 70px 150px;
    display: flex;
    background-color: #3882F6;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    padding: 50px 100px;
}

.ctc-text > p{
    margin: 0;
}
.ctc-text > p:nth-child(1){
    font-size: 24px;
    font-weight: bold;

}
.ctc-text > p:nth-child(2){
    font-size: 22px;
}
.ctc-button{
    border: 2px solid #f9faf8;
    background-color: #3882F6;
    font-size: 24px;
    color: #f9faf8;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-weight: bold;
}

/*Footer*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #f9faf8;
    background-color: #1f2937;
    font-size: 24px;
}